<!DOCTYPE html>
<html lang="zh-en">
<head>
	<title>WebRTC Video chat</title>
	<meta charset="utf-8">
	<meta name="viewport"content="width=device-width">
	<link rel="stylesheet"type="text/css"href="css/login1.css">
  <link rel="stylesheet"type="text/css"href="css/foundation.css">
  <link rel="stylesheet"type="text/css"href="css/foundation.min.css">
  <link rel="stylesheet"type="text/css"href="css/normalize.css">
  <script src="js/foundation.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/modernizr.js"></script>
<style>
  body
{
background-color:#A8A8A8;
}
</style>
</head>
<body>
 
 <div class="container1"style="position:absolute">

       <div class="row">
            <div class="twelve columns">
                <h1><i><b>Real Time Communication</b></i></h1>
        </div>
    </div>           
</div>	

<div class="container3">
<form id="#form">
  <div id="formwrapper">
<div class="row">
  <div class="twelve columns">
    
    <br><br><div><h2>&nbsp &nbsp &nbsp &nbsp &nbsp CREATE YOUR ACCOUNT</h2>
  </div>
  </div>


<div class="row">
<div class="small-9 columns">
          <input type="text"  id="FirstName"placeholder="FirstName" required="firstname required">
          <input type="text"  id="LastName"placeholder="LastName" required="">
</div></div>

<div class="row">
<div class="small-9 columns"><br>
          <input type="text"  id="EmailAddress"placeholder="EmailAddress"required=""></br>
        </div>
      </div>
    <div class="row">
<div class="small-9 columns"><br>
          <input type="password"  id="Password"placeholder="Password(6 or more Characters)"required=""></br>
        </div></div>
        <div class="row">
        <div class="small-9 columns"><br>
          <input type="password"  id="conPassword" placeholder=" Conform your Password"required=""></br>
        </div></div>
          <div class=" one row">
          <div class="columns"><p>Birthday</p></div></div>
                  <div class="birthday">
                  <div class="row">
        
            <label for="month">Month</label>
            <option>jan</option>
            <select class="month" name="month" placeholder="select month"required=""><option></option><option>Jan</option><option>Feb</option><option>Mar</option><option>Apr</option><option>May</option><option>Jun</option><option>Jul</option><option>Aug</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option></select>

            <label for="day">Day</label>
            <select class="day" name="day"><option placeholder="hai"required=""></option><option>31</option>
            <option>30</option><option>29</option> <option>28</option> 
            <option>27</option> <option>26</option> <option>25</option>
            <option>24</option> <option>23</option> <option>22</option>
            <option>21</option> <option>20</option> <option>19</option>
            <option>18</option> <option>17</option> <option>16</option>
            <option>15</option> <option>14</option> <option>13</option>
            <option>12</option> <option>11</option> <option>10</option>
            <option>09</option> <option>08</option> <option>07</option>
            <option>06</option> <option>05</option> <option>04</option>
            <option>03</option> <option>02</option> <option>01</option>

            </select>

            <label for="year">Year</label>
            <select class="year" name="year"required=""><option></option>
            <option>2060</option> <option>2059</option> <option>2058</option> 
            <option>2057</option> <option>2056</option> <option>2055</option> 
            <option>2054</option> <option>2053</option> <option>2052</option> 
            <option>2051</option> <option>2050</option> <option>2049</option> 
            <option>2048</option> <option>2047</option> <option>2046</option> 
            <option>2045</option> <option>2044</option> <option>2043</option> 
            <option>2042</option> <option>2041</option> <option>2040</option> 
            <option>2039</option> <option>2038</option> <option>2037</option> 
            <option>2036</option> <option>2035</option> <option>2034</option> 
            <option>2033</option> <option>2032</option> <option>2031</option> 
            <option>2030</option> <option>2029</option> <option>2028</option> 
            <option>2027</option> <option>2026</option> <option>2025</option> 
            <option>2024</option> <option>2023</option> <option>2022</option> 
            <option>2021</option> <option>2020</option> <option>2019</option> 
            <option>2018</option> <option>2017</option> <option>2016</option> 
            <option>2015</option> <option>2014</option> <option>2013</option> 
            <option>2012</option> <option>2011</option> <option>2010</option> 
            <option>2009</option> <option>2008</option> <option>2007</option> 
            <option>2006</option> <option>2005</option> <option>2004</option> 
            <option>2003</option> <option>2002</option> <option>2001</option> 
            <option>2000</option> <option>1999</option> <option>1998</option> 
            <option>1997</option> <option>1996</option> <option>1995</option> 
            <option>1994</option> <option>1993</option> <option>1992</option> 
            <option>1991</option> <option>1990</option> <option>1989</option> 
            <option>1988</option> <option>1987</option> <option>1986</option> 
            <option>1985</option> <option>1984</option> <option>1983</option> 
            <option>1982</option> <option>1983</option> <option>1982</option> 
            <option>1981</option> <option>1980</option> <option>1979</option> 
            <option>1978</option> <option>1977</option> <option>1976</option> 
            <option>1975</option> <option>1974</option> <option>1973</option> 
            <option>1972</option> <option>1971</option> <option>1970</option> 
            <option>1969</option> <option>1968</option> <option>1967</option> 
            <option>1966</option> <option>1965</option> <option>1964</option> 
            <option>1963</option> <option>1962</option> <option>1961</option> 
            <option>1960</option> <option>1959</option> <option>1958</option> 
            <option>1957</option> <option>1956</option> <option>1955</option> 
            <option>1954</option> <option>1953</option> <option>1952</option> 
            <option>1951</option> <option>1950</option>  
            </select>         
        
    </div>
</div>
        
        <div id="radio">
          <div class="one columns">
            <label class="radio"><br>
                    <input type="radio" name="sex" id="sex" value="male" required="" checked>Male</label>
                    <label class="radio">
                    <input type="radio" name="sex" id="sex" value="male" required="">Female</label></br>
                    </div>
                  </div>  
      </div>


  <div class="row"><br><br>
            <button type="Signup" class="button tiny success" id="Signup1" align="center"><center>Signup</center></button></br></div></div>
              <div class="container4" id="container4"style="position:absolute">
              
                <img src="e:/English/vv.jpg"></img>
              
            </div>
            <script type="text/javascript">
            $('button').on ('click', function () {
if ($('#conPassword').val() === $('#Password').val()) {
  
  return true;
}
else {
  alert("password don't matches");
 return false;
}
})
</script>  
</form></div>


	</body>
	</html>
