<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebRTC Video chat</title>
  <meta charset="utf-8">
  <meta name="viewport"content="width=device-width">
  <link rel="stylesheet"type="text/css"href="css/vcom.css">
  <link rel="stylesheet"type="text/css"href="css/foundation.css">
  <link rel="stylesheet"type="text/css"href="css/foundation.min.css">
  <link rel="stylesheet"type="text/css"href="css/normalize.css">
<style>
  body
{
background-color:#A8A8A8;
}
</style>
</head>
<div class="container1"style="position:absolute">

       <div class="row">
            <div class="twelve columns">
                <h1><b>Real Time Communication</b></h1>
        </div>
    </div>   
    </div>
      
            <div class="container2"style="position:absolute">

       <div class="row">
            <div class="twelve columns">
                <h2><i><b>Video Component</b></i></h2> 

                <div> <img src="img/66.jpg"></img></div>  
      
    </div> </div></br>
  </div>      

                       <div class="container3"style="position:absolute">
                  <div id="button">
                  <div class="ten mobile-three columns">
                 <button type="new" class="button tiny success"id="new"height:"10%";width:"10%";><a href="chat.html">Go To Video Page</a></button></div></div>
               </div>



</body>
</html>