<!DOCTYPE html>
<html>
<head>
  <title>Welcome to myproject</title>
  <link rel="stylesheet" href="css/foundation.css">
</head><body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
<form>

            <div class="row">
              <div class="two mobile-one columns">
                <label class="right inline">Username:</label>
              </div>
              <div class="ten mobile-three columns">
                <input type="text" placeholder="username ....." class="eight">
              </div>
            </div>
            <div class="row">
              <div class="two mobile-one columns">
                <label class="right inline">Password:</label>
              </div>
              <div class="ten mobile-three columns">
                <input type="text" class="eight" placeholder="Password..">
              </div>
            </div>
          </form>
        </div>

</body>
</html>