.container1
{

    background:#6495ED;
    height:100px;
    width:100%;
    -webkit-border-radius:10px;
    margin-top:-12%;
}
i
{
  text-align:center;
    font-size:39px;
    padding-top:15px;
    color:#A8A8A8 ;
    font-family:Rockwell Extra Bold;
    margin-left:18%;  
    color:indigo;
}
.container2
{

    background:#6495ED;
    height:50px;
    width:22%;
    -webkit-border-radius:10px;
    margin-top:-4.5%;
    padding-top:11px;
    
}
p
{
  text-align:center;
    font-size:25px;
    padding-top:15px;
    color:#A8A8A8 ;
    font-style:italic;
    color:red;

      
}
.video
{
       background:black;
        border: #333399;
        height:545px;
        width:1050px;
        margin-left:-20%;
        margin-top:-8.3%;
}
.video1
{
   background:black;
        border: #333399;
        height:275px;
        width:275px; 
        margin-left:87.5%;
        margin-top:-100%;
}